<% include('../layouts/header.ejs') %> 

<h1>Forgot Password</h1>

<% 

if(typeof message !=='undefined'){
 %>
 <h4><%= message %></h4>  
 <%
}
%> 

<form action="/forgot-password" method="post">

    <input type="email" name="email" placeholder="Enter email" required> 
    <br>
    <br>
    <input type="submit" value="Send Reset Link">

</form>

<a href="/forgot-password">Forgot Password</a>

<% include('../layouts/footer.ejs') %>